<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/bootstrap.css">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/clients">Clients</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
    <h1>Page {{titulo}}</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum iste, minus magni distinctio ipsa beatae itaque molestiae qui fuga asperiores voluptate quibusdam autem vitae? Labore, facere illum! Dolorum, aliquam consequatur?</p>
</body>
</html>