<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <title>Menu</title>
    <style>
        body, html {
            height: 100%;
        }
        .centered-container {
            min-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="centered-container">
        <div class="container text-center">
            <h1 class="mb-4">Menu Principal</h1>

            <a href="/cadcarro" class="btn btn-primary btn-block" role="button" style="margin: 5px;">Cadastro de Carro</a><br>
            <a href="/cadconcessionaria" class="btn btn-primary btn-block" role="button" style="margin: 5px;">Cadastro de Concessionaria</a>
    
        </div>
    </div>
</body>
</html>