<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <title>Cadastrar Usuario</title>
</head>
<body>
    <nav><a href="{{ url_for('menu') }}" class="btn btn-primary btn-block" role="button" style="margin: 5px;">Voltar</a></nav>
    <div class="container">
        <br>
        <h1 style="text-align: center;">Cadastro de Usuário</h1>
        {% if opcao == "alterar" %}
            <h2 style="text-align: center;">Alterar Usuário</h2>
            <form action="{{ url_for('update_usuario') }}" method="post">
                <div class="form-group" style="margin: 10px;">
                    <input type="hidden" name="txt_id" value="{{ usuario.id }}">
                    <div class="mb-3">
                        <label for="txt_nome" class="form-label">Nome</label>
                        <input id="txt_nome" class="form-control" placeholder="Digite o Nome" type="text" name="txt_nome" value="{{ usuario.nome }}">
                    </div>
                    <div class="mb-3">
                        <label for="txt_cpf" class="form-label">CPF</label>
                        <input id="txt_cpf" class="form-control cpf" placeholder="Digite o CPF" type="text" name="txt_cpf" value="{{ usuario.cpf }}" maxlength="14">
                    </div>
                    <div class="mb-3">
                        <label for="txt_senha" class="form-label">Nova Senha</label>
                        <input id="txt_senha" class="form-control" placeholder="Deixe em branco para não alterar" type="password" name="txt_senha">
                    </div>
                    <br>
                    <input class="btn btn-primary" type="submit" value="Salvar Alteração">
                </div>
            </form>
        {% else %}
            <h2 style="text-align: center;">Novo Usuário</h2>
            <form action="{{ url_for('cadastrar_usuario') }}" method="POST">
                <div class="form-group" style="margin: 10px;">
                    <div class="mb-3">
                        <label for="txt_nome" class="form-label">Nome</label>
                        <input id="txt_nome" class="form-control" placeholder="Digite o nome" type="text" name="txt_nome" required>
                    </div>
                    <div class="mb-3">
                        <label for="txt_cpf" class="form-label">CPF</label>
                        <input id="txt_cpf" class="form-control cpf" placeholder="Digite o CPF" type="text" name="txt_cpf" required maxlength="14">
                    </div>
                    <div class="mb-3">
                        <label for="txt_senha" class="form-label">Senha</label>
                        <input id="txt_senha" class="form-control" placeholder="Digite a senha" type="password" name="txt_senha" required>
                    </div>
                    <br>
                    <input class="btn btn-primary btn-block" type="submit" value="Cadastrar">
                </div>
            </form>
        {% endif %}
        <br>
        <hr>
        <h2 style="text-align: center;">Usuários Cadastrados</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for user in usuarios %}
                    <tr>
                        <td>{{ user.nome }}</td>
                        <td>{{ user.cpf }}</td>
                        <td>
                            <a href="{{ url_for('alterar_usuario', user_id=user.id) }}" class="btn btn-secondary btn-sm">
                                <img src="{{url_for('static', filename='img_alterar.png')}}" style="height: 20px; width: 20px;" alt="Alterar">
                            </a>
                            <a href="{{ url_for('excluir_usuario', user_id=user.id) }}" class="btn btn-danger btn-sm" onclick="return confirm('Tem certeza que deseja excluir este usuário?');">
                                <img src="{{url_for('static', filename='img_excluir.png')}}" style="height: 20px; width: 20px;" alt="Excluir">
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        const cpfInputs = document.querySelectorAll('.cpf');
    
        cpfInputs.forEach(function(cpfInput) {
            cpfInput.addEventListener('input', function() {
                let cpf = cpfInput.value;
                cpf = cpf.replace(/\D/g, '');
                cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2');
                cpf = cpf.replace(/(\d{3})(\d)/, '$1.$2');
                cpf = cpf.replace(/(\d{3})(\d{1,2})$/, '$1-$2');
                cpfInput.value = cpf;
            });
        });
    </script>
</body>
</html>